{% load static %}

<!DOCTYPE html>
<html lang='en'>
<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="connect-streams-min.js"></script>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title>Custom CRM</title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <!-- <link rel="stylesheet" href=""> -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body onload="init()">
       <div class='max-w-7xl mx-auto'>
            {% include 'navbar.html' %}
            {% include 'messages.html' %}
            {% block content %}
            {% endblock content %}
       </div>
       {% include "scripts.html" %}
       <div id="container-div" style="width: 400px; height: 800px;"></div>
        <script type="text/javascript">
        var containerDiv = document.getElementById("container-div");
        var instanceURL = "https://cogtraining.my.connect.aws/ccp-v2/";
        // initialize the streams api
        function init() {
            // initialize the ccp
            connect.core.initCCP(containerDiv, {
            ccpUrl: instanceURL,            // REQUIRED
            loginPopup: true,               // optional, defaults to `true`
            loginPopupAutoClose: true,      // optional, defaults to `false`
            loginOptions: {                 // optional, if provided opens login in new window
                autoClose: true,              // optional, defaults to `false`
                height: 600,                  // optional, defaults to 578
                width: 400,                   // optional, defaults to 433
                top: 0,                       // optional, defaults to 0
                left: 0                       // optional, defaults to 0
            },
            region: "us-east-1",         // REQUIRED for `CHAT`, optional otherwise
            softphone: {                    // optional, defaults below apply if not provided
                allowFramedSoftphone: true,   // optional, defaults to false
                disableRingtone: false,       // optional, defaults to false
                ringtoneUrl: "./ringtone.mp3" // optional, defaults to CCP’s default ringtone if a falsy value is set
            },
            pageOptions: {                  // optional
                enableAudioDeviceSettings: false, // optional, defaults to 'false'
                enablePhoneTypeSettings: true // optional, defaults to 'true'
            }
            });
        }
        </script>
    </body>
</html>